<section
  class="w-75 bg-main-light mx-auto rounded-3 p-3 my-2"
  *ngIf="cartDetails; else msg"
>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Shop Cart</h1>
    <button (click)="clear()" class="btn btn-sm btn-outline-danger">
      Clear Cart
    </button>
  </div>

  <p class="text-main">
    Total Price : {{ cartDetails.totalCartPrice | currency }}
  </p>
  <div class="row border-bottom pb-2" *ngFor="let item of cartDetails.products">
    <div class="col-md-1">
      <img [src]="item.product.imageCover" class="w-100" alt="" srcset="" />
    </div>
    <div class="col-md-11">
      <div class="d-flex justify-content-between align-items-center">
        <!-- details -->
        <div>
          <h3 class="h5">{{ item.product.title }}</h3>
          <p class="text-main m-0">Price: {{ item.price | currency }}</p>

          <button class="btn p-0 m-0" (click)="removeItem(item.product._id)">
            <i class="fa-regular fa-trash-can text-main"></i> Remove
          </button>
        </div>
        <!-- buttons -->
        <div>
          <button
            (click)="changeCount(item.product._id, item.count + 1)"
            class="btn border border-success"
          >
            +
          </button>
          <span> {{ item.count }} </span>
          <button
            (click)="changeCount(item.product._id, item.count - 1)"
            class="btn border border-success"
          >
            -
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn-main" [routerLink]="['/checkout', cartDetails._id]">
    Online Payment <img src="./assets/images/visa-1.svg" alt="" srcset="" />
  </button>
</section>
<ng-template #msg>
  <h2 class="text-center text-danger pt-5">Your Cart Is Empty....</h2>
</ng-template>
