.product{
overflow: hidden;

    &:hover{

.btn-main {

        transform: translateY(-2%);
        opacity: 1;

    }


    }
.btn-main{

transform: translateY(150%);
transition: 0.7s;
opacity: 0;

}



}