<section class="bg-main-light p-4 rounded shadow w-75 mx-auto">
  <table class="table table-hover">
    <thead class="text-center">
      <tr>
        <th>Id</th>

        <th>TotalOrderPrice</th>
        <th>PayementMethodType</th>
        <th>IsDelivered</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr *ngFor="let order of orders; index as i">
        <td>{{ i }}</td>

        <td>{{ order.totalOrderPrice }}</td>
        <td>{{ order.paymentMethodType }}</td>
        <td>{{ order.isDelivered }}</td>
      </tr>
    </tbody>
  </table>
</section>
